venv/*
*.code-workspace
.git/*
__pycache__
*/__pycache__/*
.vscode/*
*/.vscode/*
venv/*
*/venv/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb
*.mp4
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.tex
*.csv
