<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>
        {% block title %}

        {% endblock %}| Quize
    </title>
    <link rel="shortcut icon" type="img/favicon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')  }}"\>
    {% block link %}
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/server_style.css')  }}" />
    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
{% block message %}

<footer class="text-center text-lg-start">
    <!-- <a href="{{ url_for('reset_server') }}"><img src="../static/img/reset.png" height="96" width="96"/></a> -->
    <!-- Copyright -->
    <div class="text-center p-4">
        © 2021 
        <a class="fw-bold" href="https://a-props.com/" style="color: #52d1f4;">A+props</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock %}  
</body>