{% extends 'base.html' %}

{% block title %}
Teams table
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css')  }}" />
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="h-100 justify-content-center align-items-center" style="margin-top: 15%;">
        <div class="form-group sh">
            <div class="table-responsive">
                <table class="table" style="font-size: 56px; text-align: center;">
                    <tr>
                        <th>Team</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>Total</th>
                    </tr>
                {% for name in team_name_list %}
                    <tr>
                        <td><ins>{{name}}</ins></td>
                        <td>{{points_dict[name][0][0]}}</td>
                        <td>{{points_dict[name][0][1]}}</td>
                        <td>{{points_dict[name][0][2]}}</td>
                        <td>{{points_dict[name][0][3]}}</td>
                        <td>{{points_dict[name][0][4]}}</td>
                        <td>{{points_dict[name][1]}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block message %}
<table style="margin: auto; margin-top: 50px;">
    <tr>
        <td><a href="{{ url_for('client_0.in_the_game_client') }}" class="btn btn-success">Play ></a></td>
    </tr>
</table>
<footer class="text-center text-lg-start">
    <!-- <a href="{{ url_for('reset_server') }}"><img src="../static/img/reset.png" height="96" width="96"/></a> -->
    <!-- Copyright -->
    <div class="text-center p-4">
        © 2021 
        <a class="fw-bold" href="https://a-props.com/" style="color: #52d1f4;">A+props</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}